@use '../style/variables.scss' as *;
@use '../style/mixin.scss' as *;

.formContainer {
    width: 500px;
    margin: 0 auto;
    padding: 1.5rem;
    margin-top: 4rem;
    border-radius: 14px;
    background-color: $light-color-one;
    box-shadow: 0px 8px 10px 1px black;
}

form .row {
    margin-bottom: 2rem;
}

    .row {

        &.inline-spaced {
            @include flexRowSpaceBtwn;
        }

        &.inline-center {
            @include flexRowGap(0.5rem);
        }

        .group {

            &.inline-center {
                @include flexRowGap(0.25rem);
                input {
                    width: fit-content;
                }
            }

            label {
                text-transform: capitalize;
                margin-right: 1rem;
                display: block;
                white-space: nowrap;
            }

            input, textarea, select {
                font-size: 0.95rem;
                width: 100%;
                padding: 10px;
                border-radius: 10px;
                border: none;
                @include myHover;
                @include myOutline;
                border: 1px solid transparent;

                background: $light-color-three;

                &.invalid {
                    border: 1px solid $danger-color ;
                }
            }

            select:not(.showAll):focus {
                option:first-child {
                    display: none;
                }
            }

            option {
                text-transform: capitalize
            }

        }
        button {
            @include customButton;
            width: 100%;
        }
    }