@use './variables.scss' as *;
@use './mixin.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700&display=swap');

:root {
    font-size: 16px;
}

body {
    background-color: #141414;
    font-family: 'Mukta', sans-serif;
}

button {
    font-family: 'Mukta', sans-serif;
}

.mainTitle {
    color: #141414;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    user-select: none;
}

.customLink {
    text-transform: capitalize;
    color: $color-one-dark;
    @include myOutline;
}