// Colors
$dark-color-one: #0A0F0D;
$dark-color-two: #141414;
$dark-color-three: #3a3a40;

$light-color-one: #f0f0f0;
$light-color-two: #C4CBCA;
$light-color-three: #ffffff;

$color-one-dark: #d63a5c;
$color-one-light: #ff4a86;

$color-two-dark: #3CBBB1;
$color-two-light: #64e7dc;

$success-color-light: #56db75;
$success-color-dark: #28a745;

$warning-color-light: #f5d679;
$warning-color-dark: #e6b00a;

$danger-color-light: #f56372;
$danger-color-dark: #dc3545;

// Border Radius
$small-border-radius: 8px;
$big-border-radius: 12px;