// Colors
$dark-color-one: #0A0F0D;
$dark-color-two: #141414;
$dark-color-three: #3a3a40;

$light-color-one: #f0f0f0;
$light-color-two: #C4CBCA;
$light-color-three: #ffffff;

// $color-one-light: #EE4266;
$color-one-dark: #d63a5c;
$color-one-light: #ff4a86;

// $color-two-light: #3CBBB1;
$color-two-dark: #3CBBB1;

$small-border-radius: 8px;
$big-border-radius: 12px;

$danger-color: #dc3545;