// Colors
$dark-color-one: #0A0F0D;

$light-color-one: #f0f0f0;
$light-color-two: #C4CBCA;

// $color-one-light: #EE4266;
$color-one-dark: #EE4266;

// $color-two-light: #3CBBB1;
$color-two-dark: #3CBBB1;